@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .parent-has-input-focus:has(input:focus) .helper-box {
    background-color: hsl(61, 70%, 52%);
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
